{% extends "PrincipalBundle:Templates:layout2.html.twig" %}
{% block title %}
Lista
{% endblock %}
{% block body %}

<div class="container">
  <h2>Lista articulos</h2>
    <hr>
    <a href="{{path('addFormat')}}" class="btn btn-success">Nuevo articulo</a>
    </hr>
    <hr>
    <table class="table table-bordered">
        <thead>
            <th>id</th>
            <th>codigo</th>
            <th>nombre</th>
            <th>descripción</th>
            <th>marca</th>
            <th>categoria</th>
            <th>precio</th>
            <th>opciones</th>
        </thead>
    </hr>
        <tbody>
            {%for a in lists%}
            <tr>
                <td>{{a.id}}</td>
                <td>{{a.code}}</td>
                <td>{{a.name}}</td>
                <td>{{a.description}}</td>
                <td>{{a.brand}}</td>
                <td>{{a.category}}</td>
                <td>{{a.price}}</td>
                <td>
                <a href="{{path('delete_list',{id:a.id})}}" class="btn btn-success">
                     <span class="glyphicon glyphicon-trash">Borrar</span>
                </a>    

                <a href="{{path('edit_list',{id:a.id})}}" class="btn btn-info">
                <span class="glyphicon glyphicon-edit">Editar</span>
                </a>
                
                </td>
            </tr>    
            {% endfor %}
        </tbody>    
    </table>             
</div>

{% endblock %}